-#
  %nav.navbar.navbar-default
    .navbar-header
      .container
        = link_to "Sports Fan Forum", root_path, class: "navbar-brand"

      %ul.navbar-nav.nav.navbar-right
        - if user_signed_in?
          %li= link_to "Log Out", destroy_user_session_path, method: :delete
          %li= link_to "Post Message", new_message_path, class: 'navbar-test navbar-link'
        - else
          %li= link_to "Log In", new_user_session_path
          %li= link_to "Sign Up", new_user_registration_path

%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "Sports Fan Forum", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li= link_to "Add Post", new_message_path
        %li= link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Log In", new_user_session_path
        %li= link_to "Sign Up", new_user_registration_path
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Dropdown
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search